---
layout: default

section: root
title: Projects
description: My Projects

image: "?"

---

<article>
    <h1>Hello World!</h1>
    data.foo: {{data.foo}}
    data.name: {{data.name}}
    name: {{test}}
    data.test: {{data.test}}
    name: {{projects.test}}
    projects: {{projects.length}}
    data.projects: {{data.projects}}
    projects.projects: {{projects.projects}}
    <li>
    {{#each projects}}
        <ul>
        name: {{item}}
        </ul>
    {{/each}}
    </li>
</article>
