extends main

block content
  header.bg-primary.text-center
    .container
      .row
        .col-lg-12
          if img && img.square
            img(src=img.square, width=256, height=256).img-responsive.header-image
      .row
        .col-sm-1.hidden-xs
          if previous
            a(href='/' + previous.path).project-previous-arrow
              i.fa.fa-angle-double-left
        .col-sm-10
          .intro-text
            span.name= title
            hr.star-light-on-primary
            span.description= config.site.description
        .col-sm-1.hidden-xs
          if next
            a(href='/' + next.path).project-next-arrow
              i.fa.fa-angle-double-right
      .row.visible-xs
        .col-xs-6.text-right
          if previous
            a(href='/' + previous.path).project-previous-arrow
              i.fa.fa-angle-double-left
        .col-xs-6.text-left
          if next
            a(href='/' + next.path).project-next-arrow
              i.fa.fa-angle-double-right

  article.container
    if source
      br
      section.row
        .col-xs-6.text-right
          iframe(src='https://ghbtns.com/github-btn.html?user=' + source.user + '&repo=' + source.repo + '&type=star&count=true&size=large',
                 frameborder="0", scrolling="0", width="160px", height="30px")

        .col-xs-6.text-left
          iframe(src='https://ghbtns.com/github-btn.html?user=' + source.user + '&repo=' + source.repo + '&type=watch&count=true&size=large&v=2',
                 frameborder="0", scrolling="0", width="160px", height="30px")

    .row
      .col-lg-12.text-center
        p!= contents
    .row
      .col-xs-6.text-right
        a(href='/').btn.btn-default
          i.fa.fa-chevron-up
          | &nbsp; back
      if url
        .col-xs-6.text-left
          a(href=url, target='_blank').btn.btn-danger
            | try it &nbsp;
            i.fa.fa-cube
      else if source
        .col-xs-6.text-left
          a(href='https://github.com/' + source.user + '/' + source.repo + '#readme', target='_blank').btn.btn-danger
            | try it &nbsp;
            i.fa.fa-cube


  .container
    .row
      .col-lg-12.text-center
        hr.star-primary